<!-- Button trigger modal -->
<button type="button" class="btn-add btn btn-dark" data-bs-toggle="modal"
  data-bs-target="#exampleModal">
  Adicionar Contato
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar Contato</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">Nome</label>
            <input [(ngModel)]="contacts.nome" name="nome" type="text"
              id="validationTooltip01" class="form-control" placeholder="Informe o nome" required>
            <div class="valid-tooltip">
            </div>
          </div>
          <div class="col-12">
            <label for="inputAddress2" class="form-label">Endereço</label>
            <input [(ngModel)]="contacts.endereco" name="endereco" type="text"
              class="form-control" placeholder="Informe o endereço" required>
          </div>
          <div>
            <label for="phoneNumber" class="form-label">Telefone</label>
            <input [(ngModel)]="contacts.telefone" name="phone" type="tel"
              class="form-control" id="phone" placeholder="Informe o número de telefone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
          </div>
          <div>
            <label for="birthDate" class="form-label">Data de Nascimento</label>
            <input [(ngModel)]="contacts.dataNascimento" name="dataNascimento"
              type="date" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" [disabled]="!contacts.nome || !contacts.telefone || !contacts.endereco || !contacts.dataNascimento" (click)="addContact(contacts)" id="submitAddButton"
          data-bs-dismiss="modal" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>
